*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    text-align: center;
}
header{
    background: #004080;
    padding: 15px;
    color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 1000;
}
.logo{
     font-size: 25px;
     padding-left: 20px;
}
.logo img{
    height: 25px; 
    padding-left: 16px;
    width: 200px;
}
 
nav{
     display: flex;
     gap: 1px;
     margin-right: 90px;
}
nav a{
     color: white;
     text-decoration: none;
     font-size: 18px;
     display: inline-block;
     padding: 8px 12px;
     font-size: 25px;
     border-radius: 2px;
}
 nav:hover{
   background-color: darkblue;
   border-radius: 5px;
 }
 section{
    min-height: 80vh;
    padding: 60px 10px;
    margin-top: 80px;
    background: #f8f9fa;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
 }
  
 img{
    max-width: 60%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px 0;
 }
 h1{
    font-size: 28px;
    margin-bottom: 20px;
    color: #004080;
 }
 p{
    font-size: 18px;
    color: #555;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
 }
 ul{
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 20px auto;
 }
 ul li{
    margin: 5px 0;
    font-size: 18px;
    background: #c9cfcc;
    margin: 8px 0;
    padding: 6px;
    border-radius: 5px;
 }
 @media (max-width: 800px){
    header{
        flex-direction: column;
        text-align: center;
    }
    nav{
        flex-direction: column;
        margin-top: 10px; 
    }
    nav a{
        display: inline-block;
        width: 80%;
    }
    section{
        padding: 40px 10px;
    }
    h1{
        font-size: 24px;
    }
    p, ul li{
        font-size: 16px;
    }
 }